:root {
  --bgWhite: #f5f5f5;
  --textShadow: #212020;
  --fullWidth: 100%;
}
/* değişken tanımlamak için */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

/* Navbar - Navbar*/
/* Style the navbar ***********************************************************/

#navbar {
  overflow: hidden;
  /* elementler yada yazılar tanımlamış olduğumuz sınırların dışına çıkarsa çıkan kısmı göstermiyor */

  background-color: var(--bgWhite);
  width: var(--fullWidth);
  /* var tanımladığımız değişkenleri kullanmak için  */
  height: 60px;
  padding: 10px;
  margin-top: 30px;
  /* sticky özelliğini görmek için */
  position: sticky;
  top: 0;
  z-index: 100;
  /* tabaka oluşturuyoruz.bunu yapmazsak resimler birbirinin içinden geçiyor */
}

/* a tag laeri normalde inline bloktur */
#navbar a {
  float: left;
  display: block;
  /* aradaki boşlukları kapatıyor */

  margin: 5px 20px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  /* altta oluşan çizgileri yokeder */

  color: black;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: scale 0.5s linear;
  /* metin büyürken 0.5 saniyede büyüsün diye */
}

#navbar a:first-child {
  margin-left: 70px;
}
/* navbarın içindeki ilk elemente git demek */

#navbar a:hover {
  border-bottom: 1px solid orange;
  box-sizing: border-box;
  font-weight: 900;
  transform: scale(1.2);
  /* bu fontun 1.2 katı kadar büyüt demek */
}

@media screen and (max-width: 992px) {
  #navbar {
    height: auto;
  }
  #navbar a {
    float: none;
    margin: 10px;
    font-size: 1rem;
  }
  #navbar a:first-child {
    margin-left: 0;
  }
  #navbar a:hover {
    border-bottom: none;
    background: #d5d5d5;
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    height: auto;
  }
  #navbar a {
    margin: 5px;
    font-size: 0.8rem;
  }
}

/* Style the banner *******************************************************/

.banner {
  background-image: url("./developer.jpg");
  background-position: center;
  background-size: cover;
  width: var(--fullWidth);
  height: calc(100vh - 100px);
  /* bu 100% yükseklikten 100px çıkar demek. ne kadar çıkarmak istersek o kadar yazıyoruz*/

  margin-top: 10px;
  position: relative;
  /* bu resmin tamamını nirengi olarak kabul et demek. p ve h yi konumlandırmak için bunu kulannacağız onun için bu özelliği verdik */
}

.banner h1 {
  position: absolute;
  /* en yakındaki parent elementi baz alır. yukarıdaki position: relative; e gidecek */

  bottom: 180px;
  /* bottom: 50%; yada top: 50%; */
  /* aşağıdan yukarıya,yukarıdan aşağıya doğru ekranı ortalıyor */
  left: 50%;
  /* bunları h1 tagini yerleştirmek için kullandık. position: absolute; ile beraber kullanıyoruz */
  /* bu bottom ve left i position: absolute; ile beraber kullanıyoruz */
  transform: translateX(-50%);
  /* elementi ekranda istediğimiz bir yere getirmek için kullanıyıruz.
    h1 taginin tam yarısından itibaren merkeze yazıyor. böylece tam 50% oluyor. başka bir % verseydik ekranda ona göre yazacaktı.
    left (yada right kulansaydık) kullandığımız için x eksenini kullandık. bottom yada top kullansaydık y eksenini kullanacaktık.
    transform: translate kodunda
    */
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  text-shadow: 5px 5px 10px var(--textShadow);
  color: orange;
  font-family: "Lobster", cursive;
  letter-spacing: 8px;
}

.banner p {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 5px 5px 10px var(--textShadow);
  font-family: "Lobster", cursive;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
  /* harfler arası boşluk */
  word-spacing: 5px;
  /* kelimeler arası boşluk */
  font-size: 1.4rem;
}

@media screen and (max-width: 992px) {
  .banner {
    height: calc(100vh - 220px);
  }
  .banner h1 {
    font-size: 3rem;
    bottom: 170px;
    letter-spacing: 4px;
  }
  .banner p {
    bottom: 70px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    height: calc(100vh - 180px);
  }
  .banner h1 {
    font-size: 1.5rem;
    bottom: 150px;
    letter-spacing: 1px;
  }
  .banner p {
    bottom: 70px;
  }
}
/* Style the skills *************************************************************/

/* general settings --------------------------------------------------------*/
.skills {
  padding-top: 60px;
  margin-top: -60px;
  /* bu 60px navbarın yüksekliği. sayfanın hemen navbarın altında olması için. yani boşluk kalmaması için */

  width: 100%;
  height: 100vh;
}

.skills h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 4rem; /* 1rem=16px */
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

/* table */
.skills div table {
  margin: 30px auto;
  /* auto dediğimiz için sağdan soldan otomatik ortaladı */
  width: 60%;
  border-collapse: collapse;
}

.skills div table tr th,
td {
  border-bottom: 1px solid #eee9e9;
  border-right: 1px solid #eee9e9;
  padding: 20px;
}
.skills div table tr th:nth-of-type(4),
td:nth-of-type(4) {
  border-right: none;
} /* nth-of-type en son kısmı alır */

/* settings of <th> --------------------------------------------------------*/

.skills div table tr th:nth-of-type(2) {
  padding: 20px;
  font-size: 60px;
  background: #8dee8d;
}

.skills div table tr th:nth-of-type(3) {
  padding: 20px;
  font-size: 60px;
  background: #a5b6ed;
}

.skills div table tr th:nth-of-type(4) {
  padding: 20px;
  font-size: 60px;
  background: #f1c084;
}

/* class ı fab olanların hepsini etkileyecek */
.skills div table tr th > .fab {
  color: white;
  transition: scale 1s linear;
  text-shadow: 4px 4px 10px black;
}

.skills div table tr th:hover > .fab {
  transform: scale(1.3);
  /* üzerine gelince yazı boyutunun 1.3 katı olsun */
}

/* settings of <td> -------------------------------------------------------*/

.skills div table tr > td {
  text-align: center;
}

.skills div table tr > td:nth-of-type(1) {
  font-weight: 1000;
  font-size: 1.2rem;
  text-align: left;
  /* background: lightgray; */
}

/* .skills div table tr > td:nth-of-type(2) bunun içindeki tüm 2.td leri vb. hedef alıyoruz */
.skills div table tr td:nth-of-type(2) > .far {
  color: green;
}

.skills div table tr td:nth-of-type(3) > .far {
  color: blue;
}

.skills div table tr td:nth-of-type(4) > .far {
  color: orange;
}

.skills div table tr td > .far {
  padding: 0 3px;
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  /* general settings ----*/

  .skills {
    padding-top: 180px;
    margin-top: -180px;
  }
  .skills h1 {
    font-size: 2.5rem;
  }
  .skills div table {
    margin: auto;
    width: 95%;
  }
  .skills div table tr th,
  td {
    padding: 10px;
  }

  /* settings of <th> ------------*/

  .skills div table tr th:nth-of-type(2) {
    font-size: 50px;
  }
  .skills div table tr th:nth-of-type(3) {
    font-size: 50px;
  }
  .skills div table tr th:nth-of-type(4) {
    font-size: 50px;
  }

  /* setiings of <td> --------------*/

  .skills div table tr > td:nth-of-type(1) {
    font-size: 1.1rem;
  }
  .skills div table tr td > .far {
    padding: 0 3px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  /* general settings ----*/

  .skills {
    padding-top: 110px;
    margin-top: -110px;
  }
  .skills h1 {
    font-size: 2rem;
  }

  .skills div table tr th,
  td {
    padding: 5px;
  }

  /* settings of <th> ------------*/

  .skills div table tr th:nth-of-type(2) {
    font-size: 30px;
  }
  .skills div table tr th:nth-of-type(3) {
    font-size: 30px;
  }
  .skills div table tr th:nth-of-type(4) {
    font-size: 30px;
  }

  /* setiings of <td> --------------*/

  .skills div table tr > td:nth-of-type(1) {
    font-size: 0.8rem;
  }
  .skills div table tr td > .far {
    padding: 0 1px;
    font-size: 0.5rem;
  }
}

/* About Me  ***************************************************************/

#aboutme {
  padding-top: 60px;
  margin-top: -60px;
  width: 100%;
  height: 100vh;
}

#aboutme div {
  width: 100%;
  height: 100%;
  position: relative;
}

#aboutme div img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#aboutme div h1 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lobster", cursive;
  font-size: 4rem;
}

#aboutme div .text-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  background: rgba(237, 191, 8, 0.7);
  border-radius: 20px;
  z-index: 10;
  /* bu resmin üzerinde çıkmasını sağlıyor */
  display: table;
}

#aboutme div .text-box p {
  padding: 40px;
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
  display: table-cell;
  vertical-align: middle;
  /* dikey ortalama için üstteki ikisi ve parent ta display: table; kullanmak gerekiyor */
  line-height: 35px;
  text-align: justify;
  text-indent: 40px;
}
#aboutme div .text-box p span {
  text-transform: capitalize;
  font-size: 50px;
}

@media screen and (max-width: 992px) {
  #aboutme {
    padding-top: 180px;
    margin-top: -180px;
  }
  #aboutme div h1 {
    font-size: 3rem;
  }
  #aboutme div .text-box {
    width: 450px;
    height: 300px;
  }
  #aboutme div .text-box p {
    padding: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    text-indent: 30px;
  }
  #aboutme div .text-box p span {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  #aboutme {
    padding-top: 110px;
    margin-top: -110px;
  }
  #aboutme div h1 {
    font-size: 2rem;
  }
  #aboutme div .text-box {
    width: 350px;
    height: auto;
  }
  #aboutme div .text-box p {
    line-height: 11px;
    font-size: 11px;
    /* bunlar aynı olursa text ler ortalanmış olur */
  }
  #aboutme div .text-box p span {
    font-size: 30px;
  }
}

/* Projects  ***************************************************************/

#projects {
  padding-top: 60px;
  margin-top: -60px;
  width: 100%;
  height: 100vh;
}

#projects h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

#projects .content {
  margin: 30px auto;
  width: 75%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

#projects .content .pro-box {
  flex: 1;
  margin: 60px;
  height: 500px;
  border-radius: 60px;
  position: relative;
}
#projects .content .pro-box:nth-of-type(1) {
  border: 5px solid #7daa55;
}
#projects .content .pro-box:nth-of-type(2) {
  border: 5px solid #a5a6e8;
}
#projects .content .pro-box:nth-of-type(3) {
  border: 5px solid #f8c547;
}
#projects .content .pro-box > h2 {
  text-align: center;
  padding: 20px;
}
#projects .content .pro-box > img {
  width: 100%;
  height: 300px;
  padding: 0 20px;
}
#projects .content .pro-box > p {
  font-size: 0.9rem;
  text-align: center;
}
#projects .content .pro-box a {
  width: 100%;
  height: 51px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 60px 60px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
#projects .content .pro-box:nth-of-type(1) a {
  background: #7daa55;
}
#projects .content .pro-box:nth-of-type(2) a {
  background: #a5a6e8;
}
#projects .content .pro-box:nth-of-type(3) a {
  background: #f8c547;
}
#projects .content .pro-box a:hover {
  color: blue;
}

@media screen and (max-width: 992px) {
  #projects {
    padding-top: 180px;
    margin-top: -180px;
    height: auto;
  }
  #projects h1 {
    font-size: 3rem;
  }
  #projects .content {
    width: 100%;
    display: block;
    margin: auto;
  }
  #projects .content .pro-box {
    display: block;
    margin: 30px auto;
    width: 60%;
    height: 400px;
  }
  #projects .content .pro-box > h2 {
    font-size: 1.1rem;
    padding-top: 20px;
  }
  #projects .content .pro-box > img {
    height: 200px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 480px) {
  #projects {
    padding-top: 110px;
    margin-top: -110px;
  }
  #projects h1 {
    font-size: 1.5rem;
  }

  #projects .content .pro-box {
    margin: 20px auto;
    height: 300px;
  }
  #projects .content .pro-box > h2 {
    font-size: 1rem;
    padding-top: 20px;
  }
  #projects .content .pro-box > img {
    height: 120px;
    margin: 10px auto;
  }
  #projects .content .pro-box > p {
    font-size: 0.7rem;
  }
  #projects .content .pro-box a {
    font-size: 0.8rem;
  }
}

/* Back to Home  ***************************************************************/

.home {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background: orange;
  cursor: pointer;
}
.home a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  font-size: 30px;
}
.home:hover {
  background: #6161f0;
}
.home:hover a {
  color: orange;
}

@media screen and (max-width: 992px) {
  .home {
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .home a {
    font-size: 20px;
  }
}
